<div class="card">
  <div class="card-header">
    <strong>Send message</strong>
    <span class="badge badge-success" *ngIf="showEmmitedMessage">Message Sent</span>
  </div>
  <div class="card-body">
    <form [formGroup]="emitForm">
      <div class="form-group">
        <label for="eventName">Event Name</label>
        <input
          formControlName="eventName"
          type="text"
          class="form-control"
          id="eventName"
          placeholder="Event Name"
          [ngClass]="{ 'is-invalid': form.eventName.errors }"
        >
        <div *ngIf="form.eventName.errors" class="invalid-feedback">
          <div *ngIf="form.eventName.errors.required">Event name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="messaageData">Message(Json|Text)</label>
        <textarea formControlName="message" type="text" class="form-control" id="messaageData" placeholder="Message.."></textarea>
      </div>
      <button type="button" class="btn btn-primary" [disabled]="!(socketStatus$ | async)" (click)="sendMessage()">Send</button>
    </form>
  </div>
</div>
