<nav class="navbar navbar-expand-lg"
     [ngClass]="{
      'navbbg-success bg-success': socketConnected,
      'navbbg-light bg-light': !socketConnected
     }">
  <span class="navbar-brand">Socket Client Tool</span>
</nav>
<br>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-8">
            <form [formGroup]="connectForm">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Url</span>
                </div>
                <input
                  formControlName="url"
                  type="text"
                  class="form-control"
                  placeholder="http://localhost/v1"
                  aria-label="url"
                  aria-describedby="basic-addon1"
                  [ngClass]="{ 'is-invalid': form.url.errors }"
                >
                <div *ngIf="form.url.errors" class="invalid-feedback">
                  <div *ngIf="form.url.errors.required">Url is required</div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-2">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  [disabled]="socketConnected"
                  class="form-check-input"
                  [(ngModel)]="useHeaders"
                  (click)="headerChange()"
                >Socket Io Oprions?
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn btn-success" [disabled]="connectForm.invalid"  *ngIf="!socketConnected" (click)="connectSocket()">Connect </button>
            <button class="btn btn-danger" [disabled]="connectForm.invalid" *ngIf="socketConnected" (click)="disoconnectSocket()">Disconnect </button>
          </div>
        </div>
      </div>
      <div class="table-responsive-sm" *ngIf="useHeaders">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-10"><h3>Options</h3></div>
              <div class="col-sm-2">
                <button [disabled]="socketConnected" type="button" class="btn btn-info add-new" (click)="addCustomHeader()"><i class="fa fa-plus"></i> Add New</button>
              </div>
            </div>
          </div>
          <form [formGroup]="headerForm">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Key</th>
                <th>Value(Text|Json)</th>
                <th>Remove</th>
              </tr>
              </thead>
              <tbody>
              <ng-container formArrayName="headers" *ngFor="let group of getHeaderForm.controls ; let i = index">
                <tr [formGroupName]="i">
                  <td>
                    <input type="text" class="form-control" placeholder="Key" formControlName="key">
                  </td>
                  <td>
                    <input type="text" class="form-control" placeholder="Value" formControlName="value">
                  </td>
                  <td>
                    <button [disabled]="socketConnected" class="btn btn-danger rounded" (click)="removeCustomHeader(i)">x</button>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs justify-content-center" [destroyOnHide]="false">
        <li [ngbNavItem]="1" [disabled]="!socketConnected">
          <a ngbNavLink>Emit</a>
          <ng-template ngbNavContent>
            <app-emit-event></app-emit-event>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" [disabled]="!socketConnected">
          <a ngbNavLink>Events</a>
          <ng-template ngbNavContent>
            <div class="card">
              <div class="card-header">
                <strong>Set events to listen</strong>
                <span class="badge badge-warning" *ngIf="alreadyLisenetingEvent">Already Listening Event</span>
              </div>
              <div class="card-body" style="max-height: 350px; overflow-y: auto">
                <form [formGroup]="listenForm">
                  <div class="form-row align-items-center">
                    <div class="col-auto">
                      <input
                        formControlName="eventName"
                        type="text"
                        class="form-control mb-2"
                        placeholder="Event Name"
                        [ngClass]="{ 'is-invalid': getListenForms.eventName.errors }"
                        (keyup.enter)="addEvent()"
                      >
                      <div *ngIf="getListenForms.eventName.errors" class="invalid-feedback">
                        <div *ngIf="getListenForms.eventName.errors.required">Event name is required</div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <button type="button" class="btn btn-primary mb-2" (click)="addEvent()" [disabled]="listenForm.invalid">Add</button>
                    </div>
                  </div>
                </form>
                <ul class="list-group">
                  <app-set-events
                    *ngFor="let name of eventList; trackBy: trackByNameEvent"
                    [eventName]="name"
                    (removeEvent)="removeEvent($event)"
                  >
                  </app-set-events>
                </ul>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header container-fluid">
            <strong>Listen Events</strong>
            <button class="btn btn-warning float-right" (click)="clearMessages()">Clear</button>
        </div>
        <div class="card-body" style="max-height: 350px; overflow-y: scroll">
          <app-listen-events></app-listen-events>
        </div>
      </div>
    </div>
  </div>
</div>
